apiVersion: apps/v1
kind: Deployment
metadata:
  name: member-service   # deployment 이름 
  namespace: user-namespace
  labels:
    app: member-service  # Deployment에 app=member-service 라벨 추가 (서비스와 매칭될 때 사용)
spec:
  replicas: 2
  selector:
    matchLabels:
      app: member-service  # 이 Deployment가 관리할 Pod들의 라벨 지정 (Pod template의 labels와 일치해야 함)
  template:
    metadata:
      labels:
        app: member-service  # 생성될 Pod에 app=member-service 라벨 추가 (Service가 이 라벨을 보고 연결)
    spec:
      containers:
        - name: member-service  # 컨테이너 이름
          image: myregistry.azurecr.io/member-service:latest  # 사용할 컨테이너 이미지 (ACR에서 가져옴)
          ports:
            - containerPort: 8080
          envFrom:   # 여기는 환경 변수 설정 -> 나중에 수정하기 
            - configMapRef:
                name: member-service-config
            - secretRef:
                name: member-service-secret
          resources:  # 여기는 리소스 스펙 -> 얘도 나중에 수정
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
